<mat-card>
    <mat-card-title>{{isInEditMode ? 'Update Author' : 'Add Author'}}</mat-card-title>
    <mat-card-content>
        <form [formGroup]="authorForm" (ngSubmit)="onAddAuthor()">
            <div class="form-group">
                <label for="authorName">Author Name</label>
                <input formControlName="authorName" id="authorName" type="text" class="form-control">
                <strong *ngIf="f['authorName'].touched && f['authorName'].hasError('required')"
                    class="text-danger">Author Name is a required field.</strong>
            </div>

            <div class="form-group">
                <label for="authorRole">Author Role</label>
                <input formControlName="authorRole" id="authorRole" type="text" class="form-control">
                <strong *ngIf="f['authorRole'].touched && f['authorRole'].hasError('required')"
                    class="text-danger">Author Role is a required field.</strong>
            </div>

            <div class="form-group">
                <label for="profileImage">Profile Image</label>
                <input formControlName="profileImage" id="profileImage" type="text" class="form-control">
                <strong *ngIf="f['profileImage'].touched && f['profileImage'].hasError('required')"
                    class="text-danger">Profile Image is a required field.</strong>
            </div>

            <div class="form-group">
                <label for="experienceYears">Experience in Years</label>
                <input formControlName="experienceYears" id="experienceYears" type="text" class="form-control">
                <strong *ngIf="f['experienceYears'].touched && f['experienceYears'].hasError('required')"
                    class="text-danger">Experience is a required field.</strong>
            </div>

            <div class="form-group">
                <label for="isActive">Is Active</label>
                <select formControlName="isActive" id="isActive" type="text" class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="biography">Biography</label>
                <textarea formControlName="biography" id="biography" rows="4" class="form-control"></textarea>
                <strong *ngIf="f['biography'].touched && f['biography'].hasError('required')" class="text-danger">Author
                    Name is a required field.</strong>
            </div>

            <div formArrayName="skills">
                <h3 class="font-weight-bold m-0">Skills</h3>
                <div class="row" *ngFor="let skill of skillsArr.controls; let i = index">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input [formControlName]="i" [id]="i" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button *ngIf="i > 0" (click)="onRemoveControl(i)"
                            class="btn btn-outline-danger btn-sm">Remove</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" (click)="addSkillControl()" mat-raised-button color="primary">Add
                            Skill</button>
                    </div>
                </div>
            </div>

            <div formGroupName="address">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h3 class="font-weight-bold">Current Address</h3>
                        <div formGroupName="current">
                            <div class="form-group">
                                <label for="p-country">Country</label>
                                <input formControlName="country" id="c-country" type="text" class="form-control">
                                <strong
                                    *ngIf="currentControl['country'].touched && currentControl['country'].hasError('required')"
                                    class="text-danger">
                                    Country is a required field.
                                </strong>
                            </div>

                            <div class="form-group">
                                <label for="c-state">State</label>
                                <input formControlName="state" id="c-state" type="text" class="form-control">
                                <strong
                                    *ngIf="currentControl['state'].touched && currentControl['state'].hasError('required')"
                                    class="text-danger">
                                    State is a required field.
                                </strong>
                            </div>

                            <div class="form-group">
                                <label for="c-city">City</label>
                                <input formControlName="city" id="c-city" type="text" class="form-control">
                                <strong
                                    *ngIf="currentControl['city'].touched && currentControl['city'].hasError('required')"
                                    class="text-danger">
                                    City is a required field.
                                </strong>
                            </div>

                            <div class="form-group">
                                <label for="c-zipcode">Zipcode</label>
                                <input formControlName="zipcode" id="c-zipcode" type="text" class="form-control">
                                <strong
                                    *ngIf="currentControl['zipcode'].touched && currentControl['zipcode'].hasError('required')"
                                    class="text-danger">
                                    Zipcode is a required field.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="font-weight-bold">Permanent Address</h3>
                        <div formGroupName="permanent">
                            <div class="form-group">
                                <label for="p-country">Country</label>
                                <input formControlName="country" id="p-country" type="text" class="form-control">
                                <strong
                                    *ngIf="parmanentControl['country'].touched && parmanentControl['country'].hasError('required')"
                                    class="text-danger">
                                    Country is a required field.
                                </strong>
                            </div>

                            <div class="form-group">
                                <label for="p-state">State</label>
                                <input formControlName="state" id="p-state" type="text" class="form-control">
                                <strong
                                    *ngIf="parmanentControl['state'].touched && parmanentControl['state'].hasError('required')"
                                    class="text-danger">
                                    State is a required field.
                                </strong>
                            </div>

                            <div class="form-group">
                                <label for="p-city">City</label>
                                <input formControlName="city" id="p-city" type="text" class="form-control">
                                <strong
                                    *ngIf="parmanentControl['city'].touched && parmanentControl['city'].hasError('required')"
                                    class="text-danger">
                                    City is a required field.
                                </strong>
                            </div>

                            <div class="form-group">
                                <label for="p-zipcode">Zipcode</label>
                                <input formControlName="zipcode" id="p-zipcode" type="text" class="form-control">
                                <strong
                                    *ngIf="parmanentControl['zipcode'].touched && parmanentControl['zipcode'].hasError('required')"
                                    class="text-danger">
                                    Zipcode is a required field.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="isAddressSame">
                    <input formControlName="isAddressSame" id="isAddressSame" type="checkbox">
                    Is AddressSame
                </label>
            </div>

            <button *ngIf="!isInEditMode" mat-raised-button color="primary" class="w-100">Add Author</button>
            <button (click)="onUpdate()" type="button" *ngIf="isInEditMode" mat-raised-button color="primary" class="w-100">Update Book</button>
        </form>
    </mat-card-content>
</mat-card>