<mat-card class="p-0 mt-md-0 mt-4">
    <mat-card-content>
        <img class="bookImage" [src]="bookObj.coverImage" [alt]="bookObj.bookName" [title]="bookObj.bookName">
        <div class="p-4">
            <p class="m-0">Publish Year: {{bookObj.publishYear}}</p>
            <p class="m-0">Genre: {{bookObj.genre}}</p>
            <p class="m-0">BookStatus: {{bookObj.bookStatus}}</p>
            <p>{{bookObj.description}}</p>
            <div>
                <button routerLink="edit" mat-raised-button color="primary" class="mr-2">Edit</button>
                <button (click)="onRemove()" mat-raised-button color="warn">Remove</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>